
{% extends "maestra.html" %}
{% block titulo %}
Agregar cita
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar cita</h3>
            <form action="{{url_for('guardar_cita')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="consulta">Consulta</label>
                <input required type="text" class="input" placeholder="Consulta" name="consulta" id="consulta">
                <label for="telefono">Telefono</label>
                <input required type="number" class="input" placeholder="Telefono" name="telefono" id="telefono">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('citas')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}